[user]
	email = sridharr@activestate.com
	name = Sridhar Ratnakumar

[color]
    status = auto
    diff = auto
    interactive = auto
    branch = auto

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	di = diff

[core]
	quotepath = false
