[user]
    email = sridharr@activestate.com
    name = Sridhar Ratnakumar

[color]
    status = auto
    diff = auto
    interactive = auto
    branch = auto

[alias]
    l  = log --oneline --decorate
    st = status -sb
    ci = commit
    co = checkout
    br = branch
    di = diff --word-diff

[core]
    quotepath = false

# http://defunkt.io/hub/
[github]
    user = srid
